<style>
  .section-{{ section.id }} .result-item {
    margin-bottom: 10px;
  }
  .section-{{ section.id }} .result-item .name {
    font-weight: bold;
  }
  .section-{{ section.id }} .searchInput {
    border-radius: {{ section.settings.border_radius }}px;
  }
  .section-{{ section.id }} h1 {
    display: block;
    text-align: {{ section.settings.title_alignment }};
    margin-bottom: 0;
  }
  .section-{{ section.id }} .description {
    text-align: {{ section.settings.description_alignment }};
  }
  .section-{{ section.id }} .additional-text {
    text-align: {{ section.settings.additional_text_alignment }};
  }
  .section-{{ section.id }} input {
    margin: 10px auto;
    height: 44px;
    display: block;
    width: 50%;
    min-width: 200px;
    padding: 1rem;
  }
  .section-{{ section.id }} .results {
    background: #fff;
    border-radius: {{ section.settings.results_border_radius }}px;
    border-style: solid;
    border-width: {{ section.settings.results_border_width }}px;
    box-shadow: 0 0 3px;
    margin: 0 auto;
    max-height: 400px;
    min-width: 200px;
    overflow-y: scroll;
    padding: 1rem;
    position: absolute;
    z-index: 999;
  }
  .section-{{ section.id }} .page-width {
    display: flex;
      flex-direction: column;
    }
    .section-{{ section.id }} .content-wrapper {
      width: 100%;
      position: relative;
    }
    .section-{{ section.id }} .search-container {
      display: flex;
      width: 100%;
      justify-content: center;
    }
    .section-{{ section.id }} .search-button {
      height: 44px;
      margin: 10px 0 10px 10px;
      padding: 0 20px;
      border-radius: {{ section.settings.border_radius }}px;
      cursor: pointer;
    }
  .section-{{ section.id }} .image-wrapper {
    text-align: center;
    margin-bottom: 20px;
  }
  .section-{{ section.id }} .image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: {{ section.settings.image_border_radius }}px;
    {%- unless section.settings.image_drop_shadow == blank -%}
    box-shadow: {{ section.settings.image_drop_shadow }};
    {%- endunless -%}
  }

  @media (min-width: 768px) {
    .section-{{ section.id }} .page-width {
      flex-direction: row;
    }
    .section-{{ section.id }} .image-wrapper {
      margin-bottom: 0;
    }
    .section-{{ section.id }} .results {
      left: 25%;
      width: 50%;
    }
  }
</style>

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div class="section-{{ section.id }} section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    {%- if section.settings.image != blank -%}
      <div class="image-wrapper">
        {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
          {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
          {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
              (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
            {%- endcapture -%}
        {%- else -%}
          {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
          {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
        {%- endif -%}
        {{
          section.settings.image
          | image_url: width: 1500
          | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
        }}
      </div>
    {% endif %}
    <form class="content-wrapper" id="course-search-form-{{ section.id }}">
      <div class="additional-text">{{ section.settings.additional_text }}</div>
      <div class="search-container">
        <input type="search" class="searchInput" placeholder="Course name">
        <button type="submit" class="search-button">Search</button>
      </div>
      <div class="results"></div>
    </form>
  </div>
</div>

<script type="text/javascript">
  const form = document.getElementById('course-search-form-{{ section.id }}');
  form.addEventListener('submit', function (event) {
    event.preventDefault();
    const searchInput = form.querySelector('.searchInput');
    const searchTerm = searchInput.value;

    if (searchTerm) {
      fetchResults(searchTerm);
    } else {
      clearResults();
    }
  });

  function fetchResults(query) {
    if (query.length < 5) {
      return;
    }
    fetch(`https://pinned-golf-app.fly.dev/search/courses.json?course_name=${query}`)
      .then((response) => response.json())
      .then((data) => displayResults(data))
      .catch((error) => console.error('Error fetching data:', error));
  }

  function displayResults(results) {
    const resultsContainer = document.querySelector('.results');
    resultsContainer.innerHTML = ''; // Clear previous results

    results.forEach((item) => {
      const resultItem = document.createElement('div');
      resultItem.classList.add('result-item');

      const nameElement = document.createElement('div');
      nameElement.classList.add('name');
      nameElement.textContent = item.name;

      const locationElement = document.createElement('div');
      locationElement.textContent = `${item.city}, ${item.state}`;

      resultItem.appendChild(nameElement);
      resultItem.appendChild(locationElement);
      resultsContainer.appendChild(resultItem);
    });
  }

  function clearResults() {
    const resultsContainer = document.querySelector('.results');
    resultsContainer.innerHTML = ''; // Clear previous results
  }

  function debounce(func, wait) {
    let timeout;
    return function (...args) {
      clearTimeout(timeout);
      timeout = setTimeout(() => func.apply(this, args), wait);
    };
  }
  document.addEventListener('click', function (event) {
    const searchInput = document.querySelector('.searchInput');
    const resultsContainer = document.querySelector('.results');
    if (
      !searchInput.contains(event.target) &&
      !resultsContainer.contains(event.target) &&
      event.target !== searchInput &&
      event.target !== resultsContainer
    ) {
      clearResults();
    }
  });
</script>

{% schema %}
{
  "name": "Course Search",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Search For a Course",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "richtext",
      "id": "additional_text",
      "label": "Additional Text"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 5,
      "label": "Border Radius"
    },
    {
      "type": "range",
      "id": "results_border_width",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 1,
      "label": "Results Border Width"
    },
    {
      "type": "range",
      "id": "results_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 5,
      "label": "Results Border Radius"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "justify",
          "label": "Justify"
        }
      ]
    },
    {
      "type": "select",
      "id": "description_alignment",
      "label": "Description Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "justify",
          "label": "Justify"
        }
      ]
    },
    {
      "type": "select",
      "id": "additional_text_alignment",
      "label": "Additional Text Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "justify",
          "label": "Justify"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "range",
      "id": "image_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 5,
      "label": "Image Border Radius"
    },
    {
      "type": "text",
      "id": "image_drop_shadow",
      "default": "none",
      "label": "Image Drop Shadow"
    }
  ],
  "presets": [
    {
      "name": "Course Search"
    }
  ]
}
{% endschema %}
